* {
    margin : 0 ;
    padding : 0;
    box-sizing : border-box;
}
a {
    text-decoration: none;
    color:inherit;
}
li{
    list-style: none;
}
body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif, '나눔고딕';
    color : #333
}