/* 
-carrot-color: #ffe4af;
-carrottop-color: #acb890;
-carrotmiddle-color: #f2cfa5;
 */
body, html {
	height: 100%;
	margin: 0;
	background: #ffffff;
}

p {
	color: black !important;
}

.chat-section {
	margin-top: 75px;	
}

.chat {
	margin-top: auto;
	margin-bottom: auto;
}

.card {
	height: 750px;
	border-radius: 15px !important;
	background-color: #FBF7F2 !important;
}

.contacts_body {
	padding: 0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}

.msg_card_body {
	overflow-y: auto;
}

.card-header {
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}

.card-footer {
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}

.container {
	align-content: center;
}

.chat .search {
	border-radius: 15px 0 0 15px !important;
	background-color: #acb890 !important;
	border: 0 !important;
	color: black !important;
}

.chat .search:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.type_msg {
	background-color: #acb890 !important;
	border: 0 !important;
	color: black !important;
	height: 60px !important;
	overflow-y: auto;
}

.type_msg:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.attach_btn {
	border-radius: 15px 0 0 15px !important;
	background-color: #acb890 !important;
	border: 0 !important;
	color: black !important;
	cursor: pointer;
}

.send_btn {
	border-radius: 0 15px 15px 0 !important;
	background-color: #acb890 !important;
	border: 0 !important;
	color: black !important;
	cursor: pointer;
}

.search_btn {
	border-radius: 0 15px 15px 0 !important;
	background-color: #acb890 !important;
	border: 0 !important;
	color: black !important;
	cursor: pointer;
}

.contacts {
	list-style: none;
	padding: 0;
}

.contacts li {
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}

.active {
	background-color: #acb890;
}

.user_img {
	height: 70px;
	width: 70px;
	border: 1.5px solid #83a7a3;
}

.user_img_msg {
	height: 40px;
	width: 40px;
	border: 1.5px solid #83a7a3;
}

.img_cont {
	position: relative;
	height: 70px;
	width: 70px;
}

.img_cont_msg {
	height: 40px;
	width: 40px;
}

.online_icon {
	position: absolute;
	height: 15px;
	width: 15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border: 1.5px solid black;
}

.offline {
	background-color: #c23616 !important;
}

.user_info {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.user_info span {
	font-size: 20px;
	color: black;
}

.user_info p {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.6);
}

.msg_cotainer {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #eeb7b4;
	padding: 10px;
	font-size: 20px;
	position: relative;
}

.msg_cotainer_send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #78e08f;
	padding: 10px;
	font-size: 20px;
	position: relative;
}

.msg_time {
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
}

.msg_time_send {
	position: absolute;
	right: 0;
	bottom: -15px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
}

.msg_head {
	position: relative;
}

#action_menu_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	color: black;
	cursor: pointer;
	font-size: 20px;
}

.action_menu {
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(182, 207, 182, 0.8);
	color: black;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}

.action_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.action_menu ul li {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}

.action_menu ul li i {
	padding-right: 10px;
}

.action_menu ul li:hover {
	cursor: pointer;
	background-color: rgba(182, 207, 182, 0.2);
}

.action_menu ul li a {
	color: black;
}

.scrollbar {
	/*   width: 250px; */
	height: 250px;
	overflow-y: scroll; /*  */
}

/* �뒪�겕濡ㅻ컮�쓽 �룺 �꼫鍮� */
.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: rgba(151, 193, 169); /* �뒪�겕濡ㅻ컮 �깋�긽 */
	border-radius: 10px; /* �뒪�겕濡ㅻ컮 �뫁洹� �뀒�몢由� */
}

.scrollbar::-webkit-scrollbar-track {
	background: rgba(151, 193, 169, .1); /*�뒪�겕濡ㅻ컮 �뮮 諛곌꼍 �깋�긽*/
}

@media ( max-width : 576px) {
	.contacts_card {
		margin-bottom: 15px !important;
	}
}